#tela{
	margin-top: 5%;
	margin-left: 33.5%;
	text-align: center;
	background-color: white;
	width:32%;
	border: solid black 1px;

}
	
#tudo{
 background-image:url(imagens/vs.jpg);
 background-position:center;
 background-size: cover;
 width:auto;
 height:auto;

}
.espaco{
	width:120px;
	height: 120px;
	border:2px solid #000;
	float: left;
	text-align: center;
	padding-top: 20px;
	background: red;
}
.tabuleiro{
	margin-top: 2%;
	width: 370px;
	height: 370px;
	margin: auto;
}
#placar{
	text-align: center;
	color: white;
}
#placar span{
	background-color: red;
	padding: 1%;
	border: 2px solid #000;
}
#botao{
	text-align: center;
	margin-top: 1%;
}